<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="content">
        <h1 class="heading">Click on a message to view details</h1>
        <ul>
            <% if (messages.length > 0) { %>
                <% messages.forEach((message) => { %>
                    <a href="/details/<%= message.id %>">
                        <li>
                            <p><%= message.username %></p>
                            <p><%= message.message_content %></p>
                            <form action="/delete/<%= message.id %>" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                            <p><%= message.date_added %></p>
                        </li>
                    </a>
                <% }) %>
            <% } else { %>
                <p>There are no messages to display yet</p>
            <% } %>
        </ul>
        <a href="/new">
            <button type="button">Write new Message</button>
        </a>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>